* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    background-color: rgba(241, 236, 229, 0.296);
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

.logo img {
    display: flex;
    width: 250px;
    height: 190px;
    border: none;
}

.logo {
    margin-top: 20px;
    margin-left: 30px;
    margin: 50px;
}

.paginas {
    display: flex;
    align-items: center;
    margin-left: 50%;
    gap: 30px;
}

.paginas > a{
    color: aliceblue;
    font: 20px bold ;
    cursor: pointer;
}

.paginas > a:hover{
    color: darkgrey;
    font-size: 25px;
    transition-duration: 1.5s;
}

section#joana-frainer {
    display: flex;
    transition: 3s;
    transition-property: all;
    transform-origin: 10%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}

.joana {
    border-radius: 1000px;
}

.frase-principal {
    text-align: center;
    align-items: center;
    margin-top: 50%;
}

.frase-principal > h1 {
    font-size: 60px;
}

.frase-principal > h1:hover {
    font-size: 100px;
    transition-duration: 2.5s;
}

.frase-principal > h2 {
    font-weight: 500;
    padding: 30px;
    font-size: 40px;
}

.frase-principal > h2:hover {
    font-size: 70px;
    transition-duration: 2.5s;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}

form > fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
    border: none;
}

.rodape p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55%;
    margin-bottom: 28px;
}
